body {
    padding: 0 75px 50px;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    background: #000000;
    background: -webkit-linear-gradient(to right, #53346D, #000000);
    background: linear-gradient(to right, #53346D, #000000);
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
}

.submit-task-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

h1 {
    margin-bottom: 75px;
    font-weight: 300;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 55px;
    letter-spacing: .5px;
}

input {
    width: 100%;
    border: none;
    background: rgba(255,255,255,.1);
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    font: 300 24px 'Lato', sans-serif;
    color: #ffffff;
}

button {
    margin: 0 10px;
    padding: 10px;
    border-radius: 50%;
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 18px;
    transition: background 300ms;
}

button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .1);
}

button:focus,
input:focus {
    outline: none;
}

.deleteButton {
    background-color: rgba(237, 67, 55, .5);
}

.deleteButton:hover {
    background-color: rgba(237, 67, 55, .75);
}

.completeButton:hover {
    background-color: rgba(55, 186, 25, .75);
}

.completeButton .fa {
    transition: transform 300ms;
    transform: scale(.7);
}

.completeButton:hover .fa {
    transform: scale(1.2);
}

.addTaskButton {
    font-size: 26px;
}

.uncompleteButton {
    background-color: rgba(55, 186, 25, .75);
}

.uncompleteButton .fa {
    transition: transform 300ms;
}

.uncompleteButton:hover .fa {
    transform: scale(.7);
}

.task-description {
    width: 75%;
}

.button-block {
    width: 25%;
    text-align: right;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.task-item {
    position: relative;
    display: flex;
    width: 100%;
    flex: 1 0 100%;
    align-items: center;
    justify-content: space-between;
    overflow: hidden; /* animating in button-wrapper */
    padding: 15px 10px 25px;
    margin: 2px 0;
    box-sizing: border-box;
    background: rgba(255,255,255,.1);
    border-radius: 6px;
}

.task-item:after {
    content: "\f105";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-family: 'fontawesome';
    transition: all 150px;
}

.task-item:hover:after {
    display: none;
}

.task-item:hover .button-wrapper {
    right: 0;
}

.button-wrapper {
    position: relative;
    right: -150px;
    transition: all 250ms;
}

.category-text {
    position: absolute;
    bottom: 5px;
    font-size: 10px;
}

.task-description::first-letter {
    text-transform: capitalize;
}

.category-select-wrapper {
    position: relative;
}

.category-select {
   -webkit-appearance: none; 
   -moz-appearance: none;
   border: none;
   border-radius: 5px;
   padding: 15px 45px 15px 15px;
   margin: 0 10px;
   box-sizing: border-box;
   background: rgba(255,255,255,.1);
   font: 300 24px 'Lato', sans-serif;
   color: #ffffff;
}

.category-select-wrapper::after {
    position: absolute;
    content: "\f107";
    right: 25px;
    top: 50%;
    font-size: 25px;
    font-family: 'fontawesome';
    transform: translateY(-50%);
}

.category-select:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: #ffffff;
}

::-moz-placeholder {
    color: #ffffff;
}

:-ms-input-placeholder {
    color: #ffffff;
}

:-moz-placeholder {
    color: #ffffff;
}

@media screen and (max-width: 650px) {
    body {
        padding: 0 20px;
    }
}